doctype html
html
	head
		title= pageTitle ? pageTitle : 'About - PeerToPeer'
		link(rel='shortcut icon', href="/images/favicon.ico")
		link(rel="stylesheet", type="text/css", href="/css/about.css")
	body
		.top_img
			.mid_wrap.subs
				.mid_bd.subs
					img(src="/images/about/subscription.png",pointer-events="none" draggable="false")
					.email
						input(type='text', placeholder='输入您的电子邮箱')
						input(type='submit', value!='确定') 
		.about_us
			.m-wrap
				header
					h1 ABOUT US
				article
					section
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
				aside
					mixin showimg(filenames)
						ul
							for file in filenames
								li 
									img(src="/images/about/#{file}.jpg",pointer-events="none" draggable="false")

					+showimg(["p2", "p2","p2", "p2","p2", "p2"])
		.products
			.m-wrap
				header
					h1 OUR PRODUCTS
				section
					+showimg(["p2", "p2","p2", "p2"])
		.contacts_us
			.m-wrap
				.left
					img(src="/images/about/p2.jpg")
				.right
					.hctu
						h1 CONTACT US
					.info
						form(method="post")
							.msg-input
								input(type="text" placeholder="Your Email Adress")
							.msg-input
								input(type="text" placeholder="Subject of Your Message")
							.msg-input
								textarea Your message goes here
							.msg-input
								button(typy="submit") send 
									img(src="/images/about/arrow.png")